<!DOCTYPE html>
<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <style>
          .legend {
            font-size: 12px;
          }
          rect {
            stroke-width: 2;
          }
            body {
                font-family: 'Open Sans', sans-serif;
            }
        </style>
    </head>

    <body>
        <p>Frodo and D3: Together As One</p>

        <div id="chart"></div>
        <div id="legend"></div>

        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
        <script src="/static/js/d3textwrap.v0.js"></script>
        <script src="/static/js/lectureBubbles.js"></script>
    </body>
</html>